<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <div class="tw-card-header">
        <span>Password Reset Link</span>
    </div>

    <div class="tw-card-body">
        <h1 class="tw-h1">Hello ${userName},</h1>
        <p class="">
            <span>Please click the below button to change your password for
                <strong>Customer Engagement App</strong>.
                The link will be valid for next ${expirationTime} minutes.
            </span>
        </p>

        <p class="button__td ">
            <a class="button__a" href="${resetPasswordLink}" target="_blank" rel="noopener">Reset Link</a>
        </p>

        <p class="">
            Contact our support team if you have any questions or concerns.&nbsp;
            <a href="javascript:void(0);" target="_blank" rel="noopener">Ask us any question</a>
        </p>
        <p class="tw-signoff"> Our best, <br/> The Passcard team</p>
    </div>
</body>
</html>
